@import "fonts"
@import "libs"
@import "vars"

/* Base styles of the project */

*::-webkit-input-placeholder
    color: #666
    opacity: 1

*:-moz-placeholder
    color: #666
    opacity: 1

*::-moz-placeholder
    color: #666
    opacity: 1

*:-ms-input-placeholder
    color: #666
    opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
    color: #666
body input:required:valid,
body textarea:required:valid
    color: #666

html, body
    height: 100%

body
    position: relative
    min-width: 320px
    line-height: $lh-default
    font-family: $ff-default
    font-size: 16px
    background-color: $bg-color
    color: #fff
    overflow-x: hidden
    opacity: 1
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale


header, section
    position: relative
    -webkit-background-size: cover
    background-size: cover
    background-position: center

section
    background-color: #fff
    &.royal, &.testimonials, &.partners
        padding: 5% 0

/* Preloader */

@mixin opacity($opacity)
    opacity: $opacity / 100
    filter: alpha(opacity = $opacity)

.preloader
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: $dark
    z-index: 100
    .pulse
        position: relative
        left: 50%
        top: 50%
        margin-top: -40px
        margin-left: -40px        
        &::before, &::after
            content: ''
            position: absolute
            border: 5px solid #323232
            width: 80px
            height: 80px
            border-radius: 500px
        &::before
            animation: pulse-outer .8s ease-in infinite
        &::after
            animation: pulse-inner .8s linear infinite    

@keyframes pulse-outer
    0%
        @include opacity(100)
    50%
        @include opacity(50)
    100%
        @include opacity(0)

@keyframes pulse-inner
    0%
        @include opacity(0)
        transform: scale(0)
    100%
        @include opacity(100)
        transform: scale(1)                 

/* Headings */

h1, h2, h3, h4, h5, h6
    margin: 0
    line-height: $lh-heading
    font-family: $ff-headings
    font-weight: 800
    text-transform: uppercase
    color: #fff

.h5-logo
    color: #4a4a4a
    font-size: 18px
    font-style: italic
    text-transform: none
    span
        font-size: 12px

/* Links */

a
    color: $lnk-color
    text-decoration: none
    &:hover
        text-decoration: none
        color: $lnk-color-dk


/* Form inputs */

input[type='text'],
input[type='number'],
input[type='email'],
input[type='tel'],
input[type='search'],
input[type='url'],
input[type='file'],
input[type='password'],
textarea,
select
    display: inline-block
    width: 100%
    padding: 8px 22px
    margin-bottom: 15px
    color: $txt-color
    font-size: 16px
    background-color: transparent
    border: 1px solid rgba(#000, .1)
    border-bottom: 2px solid rgba(#000, .1)
    border-radius: 2px
    outline: none
    +placeholder
        color: #fff
        font-size: 16px
    option
        color: $txt-color

select
    +placeholder
        color: #fff

/* Buttons */

.btn, a.btn
    display: inline-block
    border: none
    color: #fff
    text-decoration: none
    background-color: $btn-color
    padding: 15px 45px
    font-size: 14px
    text-transform: uppercase
    font-weight: 600
    letter-spacing: 3px
    border-radius: 2px
    text-align: center
    position: relative
    outline: none
    transition: background-color .1s ease
    &::after
        transition: background-color .2s ease
        position: absolute
        content: ''
        height: 4px
        bottom: 0
        width: 100%
        background-color: darken($btn-color, 50%)
        opacity: .18
        border-bottom-left-radius: 2px
        border-bottom-right-radius: 2px
        left: 0
    &:focus, &:hover
        text-decoration: none
        color: #fff
    &:hover
        background-color: lighten($btn-color, 5%)
        &::after
            opacity: .22
    &:active
        background-color: darken($btn-color, 5%)
        &::after
            opacity: .32

.btn.btn-white
    background-color: #fff
    color: #444
    &:after
        background-color: rgba(#000, .6)
    &:hover
        &:after
            background-color: rgba(#000, .2)
    &:active
        &:after
            background-color: rgba(#000, .4)

/* Social icons */

.nav-social
    margin: auto
    ul, li
        margin: 0
        padding: 0
        list-style-type: none
    a
        color: #2c2c2c
        font-size: 17px
        display: block
        background-color: rgba(#fff, .2)
        height: 38px
        width: 38px
        text-align: center
        margin: 18px 0
        line-height: 38px
        border-radius: 50%
        transition: background-color .3s ease
        &:hover
            background-color: rgba(#fff, .4)


/* Logo */

.logo
    display: inline-block
    float: left
    margin-left: 45px
    font-family: "Lobster", sans-serif
    font-size: 36px
    span
        font-style: italic
    .ampersand
        font-size: 24px


/* Icons */

.ic
    position: relative
    display: inline-block
    vertical-align: middle


/* Floats */

.fl
    float: left
.fr
    float: right


/* Text align*/

.text-center
    text-align: center !important
.text-left
    text-align: left !important
.text-right
    text-align: right !important


/* Colored classes */

.yellow
    color: $yellow

.white
    color: #fff


/*----------------------------*/