/*==========  Desktop First  ==========*/

/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width : 1199px)

    /* Header styles */
    #header
        .header-title
            .title-flex
                .welcome
                    .saloon-heading
                        font-size: 64px


    
    /* Section Royal saloon styles */
    #royal
        .royal-block
            padding: 0

        .fotorama
            &__nav
                &-wrap
                    bottom: 0
                    padding: 0



/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width : 991px)

    /* Header styles */
    #header
        .header-title
            .title-flex
                .welcome
                    .saloon-heading
                        font-size: 48px

                .btn
                    padding: 12px 45px


    /* Section Royal saloon styles */
    #royal
        .royal-block
            padding: 5%
            .royal-heading
                font-size: 24px

        .fotorama
            &__nav
                &-wrap
                    bottom: 0
                    padding: 0

    /* Section Testimonials styles */
    #testimonials
        .testimonials      
            &::after      
                 bottom: 90px
    /* Footer styles */
    #footer
        .footer-block
            .footer-phone
                font-size: 20px



/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width : 767px)
    
    /* Section Registration styles */
    #registration
        text-align: center
        &::before
            width: 100%

        .reg-form
            padding: 5% 0

    /* Section Testimonials styles */
    #testimonials
        .testimonials      
            &::before, &::after      
                 display: none

    /* Section Partners styles */       
    #partners
        .owl-carousel           
            .owl-nav
                display: none
    /* Footer styles */
    #footer
        .footer-block
            .footer-addr
                display: inline-block           
              
/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width : 575px)

    /* Header styles */
    #header
        .header-title
            .title-flex
                .welcome
                    p
                        font-size: 12px
                    .saloon-heading
                        font-size: 44px


    /* Section Royal saloon styles */
    #royal
        .royal-block
            padding: 5% 10px 0

        .fotorama
            &__nav
                &-wrap
                    position: inherit
                    bottom: 0
                    padding: 0





/* Custom */
@media only screen and (max-width : 480px)

    /* Header styles */
    #header
        .top-line
            .logo
                font-size: 30px
            .phone
                visibility: hidden

        .header-title
            .title-flex
                p
                    font-size: 14px
                    .saloon-heading
                        font-size: 40px
                        
    /* Footer styles */
    #footer
        .footer-block
            .footer-menu
                padding-left: 5px

            .nav-social
                margin-top: 20px            
                ul
                    li
                        margin-right: 5px                            