@import "bourbon/bourbon"

/* Font Family variables */
$ff-default: 'RobotoRegular', $helvetica
$ff-headings: 'Georgia', $georgia

/* Line height variables */
$lh-default: 1.2
$lh-paragraph: 1.3

/* Background  colors variables */
$bg-color: #eee

/* Text colors variables */
$txt-color: #000
$txt-color-dk: #000
$txt-color-lt: #999999

/* Links colors variables */
$lnk-color: #387bff
$lnk-color-dk: #0a18ff
$lnk-color-lt: #26d9ff

/* Border colors variables */
$brd-color: #FF4C3F
$brd-color-dk: #ff091e
$brd-color-lt: #ff7627

/* Button colors variables */
$btn-color: #10ff23
$btn-color-dk: #1d7913
$btn-color-lt: #7aff94

