@import "base"


/* Header styles */

.header
    min-height: 700px
    height: 100vh
    background-color: $dark

    .top-line
        position: absolute
        width: 100%
        padding-top: 40px
        z-index: 1

        .logo
            display: inline-block
            float: left
            margin-left: 45px
            font-family: "Lobster", sans-serif
            font-size: 36px
            span
                font-style: italic
            .ampersand
                font-size: 24px

        .phone
            float: right
            font-family: "FiraSans", $helvetica
            margin-right: 85px
            padding-top: 18px
            font-size: 22px
            color: #fff
            .fa-mobile
                color: $yellow
                margin-right: 3px

    .header-title
        position: relative
        display: flex
        top: 0
        height: 100%
        .title-flex
            margin: auto

            .welcome
                p
                    font-size: 14px
                    text-transform: uppercase
                    display: flex
                    align-items: center
                    white-space: nowrap
                    margin: 0
                    span
                        margin: 0 10px
                    &::before, &::after
                        content: ''
                        position: relative
                        display: inline-block
                        width: 100%
                        height: 1px
                        background-color: #fff

                .saloon-heading
                    margin-bottom: 20px
                    padding-bottom: 10px
                    font-family: "Raleway", $helvetica
                    font-size: 70px
                    font-weight: 100
                    border-bottom: 1px solid #fff

                strong
                    text-transform: uppercase
                    .fa
                        margin-right: 10px
                        font-size: 12px
                        color: $yellow
                        &:last-child
                            margin-right: 0
                            margin-left: 10px

            .btn
                margin-top: 25px

    .header-social
        position: absolute
        display: flex
        top: 0
        right: 0
        height: 100%
        padding: 0 12px
        border-left: 1px solid rgba(#fff, .1)

    .header-contacts
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        padding: 12px 0
        border-top: 1px solid rgba(#fff, .15)
        background-color: rgba(#151515, .15)
        .fa
            margin-right: 10px
            color: #555


/* Hamburger styles */

.hamburger
    display: inline-block
    position: absolute
    right: -5px
    top: 50px

    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
        position: absolute
        width: 34px
        height: 2px
        border-radius: 2px
        background-color: #fff


    /* Mobile menu styles */

.mm-navbar
    padding: 25px 0
    border: none

    .mm-title
        font-size: 24px
        font-weight: bold
        font-style: italic

    .ampersand
        font-size: 14px

.mm-panels > .mm-panel > .mm-navbar + .mm-listview
    margin-top: 20px

.mm-listview > li:not(.mm-divider):after
    border-bottom-style: none

.mm-menu.mm-theme-black .mm-listview > li.mm-selected > a:not(.mm-next), .mm-menu.mm-theme-black .mm-listview > li.mm-selected > span
    background-color: transparent
    color: $yellow

.mm-listview
    li
        position: relative
        a
            transition: color .3s ease
            padding:
                left: 16%
                right: 14%
                top: 15px
        &:hover
            color: $yellow
        &::before
            content: '\f219'
            font-family: FontAwesome, sans-serif
            position: absolute
            left: 25px
            top: 15px
            color: #fff


/* Services styles */

$colors: $blue, $red, $yellow
@for $i from 1 through length($colors)
    .carousel-services .owl-item:nth-child(#{length($colors)}n+#{$i})
        background-color: nth($colors, $i)

.services
    color: #000











/* Always at the end */

@import "media"
